<div class='body'>
  <form class="form_container">
    <h1 class="">Please sign in</h1>

    <div class="input_name input">
      <label for="floatingInput">UserName</label>
      <input type="email" class="" id="floatingInput" placeholder="User Name">
    </div>
    <div class="input_pass input">
      <label for="floatingPassword">Password</label>
      <input type="password" class="" id="floatingPassword" placeholder="Password">
    </div>

    <button (click)="gomedia()">Sign in</button>
  </form>
</div>