<body>
  <div class="container">
    <header class='header_container'>
      <h1 class="Title_container">
        PixelSyncs
      </h1>
    </header>
    <main class="main_container">
      <form action="" class="form_container">
        <input type="url" name="url_song" id="Input_Url">
      </form>
      <div class="results_container">
        <img
          src='https://www.lahiguera.net/musicalia/artistas/fall_out_boy/disco/6355/tema/8646/fall_out_boy_immortals-portada.jpg'
          class="cover_song" alt="Cover">

        <div class="search_results">
          <ul>
            <li class='item_result'>
              <img src="https://i1.sndcdn.com/artworks-crdE1yOM3vnw-0-t500x500.jpg" class='result_cover_song'
                alt="Cover">
              <span class='url_song_result'>WOS - MUGRE</span>
            </li>
            <li class='item_result'>
              <img src="https://i.scdn.co/image/ab67616d00001e020464a4a2b1558725d9d97277" class='result_cover_song'
                alt="Cover">
              <span class='url_song_result'>WOS - PANTANO</span>
            </li>
            <li class='item_result'>
              <img src="https://images.genius.com/aaf449723bbb3772a73de35740c3b8d7.1000x1000x1.png"
                class='result_cover_song' alt="Cover">
              <span class='url_song_result'>Problema Cabrón</span>
            </li>
            <li class='item_result'>
              <img src="https://www.cmtv.com.ar/tapas-cd/0614923001628810106.webp" class='result_cover_song'
                alt="Cover">
              <span class='url_song_result'>WOS - MIRÁ MAMÁ</span>
            </li>
            <li class='item_result'>
              <img src="https://i.scdn.co/image/ab67616d00001e02cdb97c1de867f1b7ae0dc443" class='result_cover_song'
                alt="Cover">
              <span class='url_song_result'>WOS - QUE SE MEJOREN</span>
            </li>
            <li class='item_result'>
              <img src="https://i.scdn.co/image/ab67616d0000b273bce4987b67938a0a00cdd853" class='result_cover_song'
                alt="Cover">
              <span class='url_song_result'>WOS - ANDROMEDA</span>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </div>
</body>